a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
  transition: 0.3s;
}

table {
  border-spacing: 15px 5px;
  border-collapse: collapse;
}

table td {
  padding: 20px 50px 20px 10px;
  font-size: 26px;
  vertical-align: top;
}

.Homework {
  margin: 0;
}

.Homework__number {
  position: relative;
  cursor: pointer;
}

.Homework__number:before, .Homework__number:after {
  content: '';
  display: block;
  width: 16px;
  height: 3px;
  background-color: #000;
}

.Homework__number:before {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: rotate(-22.5deg);
  transition: 0.3s;
}

.Homework__number:after {
  position: absolute;
  top: 50%;
  left: 120%;
  transform: rotate(22.5deg);
  transition: 0.3s;
}

.Homework__number.activ::before {
  transform: rotate(22.5deg);
  transition: 0.3s;
  background-color: red;
}

.Homework__number.activ:after {
  transform: rotate(-22.5deg);
  transition: 0.3s;
  background-color: red;
}

.Homework__number-links {
  padding: 15px 5px 15px 5px;
  display: none;
}

.Homework__number-links a {
  display: block;
}

.Homework__number-links a:hover {
  color: blue;
  transition: 0.3s;
}

.number__1 {
  background-color: green;
}

.number__2 {
  background-color: green;
}

.number__3 {
  background-color: green;
}

.number__4 {
  background-color: green;
}
