body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
form {
   width: 100%;
}
label,input {
    margin: 5px 0;
}

.container {
    padding: 0 20px;
}
.name {
    
    &__label {
        float: left;
       
    }

    &__input {
        display: block;
        width: 87%;
        margin-left: 170px;
        
    }
}
.heading {

    &__label {
        margin-right: 105px;
    }

    &__select {
        
        width: 20%;
    }
}
.publication {
    
    &__label {
       margin-right: 80px; 
    }

}

.text_area {
    width: 100%;
    &__label {
    }

    &__textarea {
        width: 100%;
    }
}

.clear {
    clear: both;
}

@media (max-width:1300px) {
    .name__input {
        width: 86%;
    }
}

@media (max-width:1200px) {
    .name__input {
        width: 85%;
    }
    .text_area {
        width: 100%;
        &__textarea {
            width: 100%;
        }
    } 
                 
}
@media (max-width:1100px) {
    .name__input {
        width: 84%;
    }
}
@media (max-width:1000px) {
    
    .name__input {
        width: 82%;
    }
    .text_area {
        width: 100%;
        &__textarea {
            width: 100%;
        }
    }             
}
@media (max-width:900px) {
    .name__input {
        width: 79%;
    }
}
@media (max-width:800px) {
    .name__input {
        width: 77%;
    }
}
@media (max-width:768px) {
    .name__label {
        float:none;
    }
    .name__input {
        width: 100%;
        margin-left: 0;
    }
    .heading {

        &__label {
            display: block;
            margin-right: 0px;
        }
    
        &__select {
            
            width: 170px;
        }
    }       
    .publication {
        &__label {
            display: block;
           margin-right: 0; 
        }
        span {
            display: block;
        }
        
        
    }
    
    .text_area {
        width: 100%;
        &__textarea {
            width: 100%;
        }
    }
}      
