body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
form {
   width: 100%;
}
label,input {
    margin: 5px 0;
}

.container {
    padding: 0 20px;
}
.name {
    
    &__label {
        float: left;
       
    }

    &__input {
        display: block;
        width: 100%;
    }
}
.heading {

    &__label {
        margin-right: 105px;
    }

}
.publication {
    
    &__label {
       margin-right: 80px; 
    }

}

.text_area {
    width: 100%;
    &__label {
    }

    &__textarea {
        width: 100%;
    }
}

.clear {
    clear: both;
}

.name__container {
    margin-left: 170px;
}




@media (max-width:768px) {
    .name__label {
        float:none;
    }
    .name__input {
        width: 100%;
        margin-left: 0;
    }
    .heading {

        &__label {
            display: block;
            margin-right: 0px;
        }
    
        &__select {
            
            width: 170px;
        }
    }       
    .publication {
        &__label {
            display: block;
           margin-right: 0; 
        }
        span {
            display: block;
        }
        
        
    }
    .name__container {
        margin-left: 0;
    }
    
    .text_area {
        width: 100%;
        &__textarea {
            width: 100%;
        }
    }
}      
