body {
  margin: 0;
  padding: 0;
}

a {
  transition: 0.3s;
}

a:hover {
  color: red;
}

div {
  margin: 0 0 20px 0;
}

.first {
  margin-left: 10px;
}

.first a:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  width: 2px;
  height: 20px;
  background-color: red;
}

.first a:last-child:after {
  display: none;
}

.second ul {
  margin: 0;
  padding: 0;
}

.second ul li {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 1px 10px 1px 0;
  border-right: 2px solid red;
}

.second ul li:last-child {
  border: none;
}

.third {
  display: flex;
}

.third div {
  margin: 0 0 0 7px;
  padding: 1px 9px 1px 10px;
  background: url(../img/line.PNG) no-repeat right;
}

.third div:last-child {
  background: none;
}

.third div:first-child {
  margin: 0 0 0 0px;
  padding: 1px 11px 1px 10px;
}

.fourth table, .fourth tr, .fourth td {
  margin: 0;
  padding: 0;
}

.fourth a {
  display: inline-block;
  margin: 0 0 0 0px;
}

.fourth td {
  padding: 0px 0 0 10px;
}

.fourth td:first-child {
  padding: 0px 0 0 8px;
}

.fourth span {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: red;
  vertical-align: middle;
  margin-left: 10px;
}

.fourth table tr td:last-child span {
  display: none;
}

.fifth {
  display: table;
}

.fifth span {
  display: table-cell;
}

.fifth a {
  display: block;
  margin: 0 0 0 10px;
}

.fifth hr {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: red;
  margin: 0 0 0 12px;
  border: none;
  vertical-align: middle;
}
