a {
  transition: 0.3s;
}

a:hover {
  color: red;
}

div {
  margin: 0 0 20px 0;
}

.first {
  margin-left: 10px;
}

.first a:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  width: 2px;
  height: 20px;
  background-color: red;
}

.first a:last-child:after {
  display: none;
}

.second {
  transition: 0.3s;
}

.second ul {
  margin: 0;
  padding: 0;
}

.second ul li {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 1px 10px 1px 0;
  border-right: 2px solid red;
}

.second ul li:last-child {
  border: none;
}

.third ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.third ul li {
  margin: 0 0 0 4px;
  padding: 1px 12px 1px 10px;
  background: url(../img/line.PNG) no-repeat right;
  list-style: none;
}

.third ul li:last-child {
  background: none;
}

.third ul li:first-child {
  margin: 0 0 0 0;
}

.fourth ul {
  margin: 0;
  padding: 0;
}

.fourth ul li {
  margin: 0 -4px 0 5px;
  padding: 2px 7px 1px 12px;
  display: inline;
  list-style: none;
  border-left: 2px solid red;
}

.fourth ul li:first-child {
  border: none;
}

.fourth ul li:first-child {
  margin: 0 0 0 0;
  padding: 2px 2px 1px 10px;
}

.fifth ul {
  margin: 0;
  padding: 0;
}

.fifth ul li {
  margin: 0 0 0 5px;
  padding: 1px 0 1px 4px;
  float: left;
  list-style: none;
}

.fifth ul li:first-child {
  margin: 0 0 0 0;
  padding: 1px 0 1px 10px;
}

.fifth a:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 4px;
  width: 2px;
  height: 20px;
  background-color: red;
}

.fifth ul > li:first-child a:before {
  display: none;
}
