td, tr {
    font-size: 30px;
    vertical-align: top;        
}

a,li {
    text-decoration: none;
    color:black;    
    margin: 10px auto;
}

li :hover {
    color: blue;
    transition: 0.2s;
    border-bottom: blue solid 3px;
}

table {    
    table-layout: fixed;    
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;    
  }