a{
    text-decoration: none;
    color:#000;
    transition: 0.3s;
    &:hover {
        text-decoration: underline;
        transition: 0.3s;
    }
    
}
table {
    border-spacing: 15px 5px;
    border-collapse: collapse;
    td {
        padding: 20px 50px 20px 10px;
        font-size: 26px;    
        vertical-align: top; 
    }
}


.Homework {
    margin: 0;
    
    &__number {        
        position: relative;
        cursor: pointer;       
        &:before,&:after {
            content: ''; 
            display: block;       
            width: 16px;
            height: 3px;
            background-color: #000;               
         }
        &:before {
            position: absolute;
            top: 50%;
            left: 110%;
            transform: rotate(-22.5deg);
            transition: 0.3s;
        }
        &:after {
            position: absolute;
            top:50%;
            left: 120%;
            transform: rotate(22.5deg);
            transition: 0.3s;
        
        }
        &.activ::before {
            transform: rotate(22.5deg);
            transition: 0.3s;
            background-color: red;  

        }
        &.activ:after {
            transform: rotate(-22.5deg);
            transition: 0.3s;
            background-color: red;  

        }
    }

    &__number-links {        
        padding: 15px 5px 15px 5px;        
        display: none;
        a {
            display: block;
            
        }
        a:hover {
            color:blue;
            transition: 0.3s;
        }                
    }    
    
}

.number {
    &__1 {
        background-color: green;
    }
    &__2 {
        background-color: green;
    }
    &__3 {
        background-color: green;
    }
    &__4 {
        background-color: green;        
    }
    &__5 {
        background-color: green;        
    }
    &__6 {
        background-color: green;        
    }
    &__7 {
        background-color: green;        
    }
    &__8 {
        background-color: green;        
    }

}
