@import url(../fonts/stylesheet.css);
@import url(header__footer.css);
@import url(reset_styles.css);
.title h1 {
  margin: 63px 0 0 0;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 64px;
  font-weight: 300;
  color: #C4C4C4;
}

.title h1 span {
  font-weight: bold;
  color: #333;
}

hr {
  margin: 30px 0;
  max-width: 1170px;
  width: 100%;
  align-items: center;
}

.project__description {
  margin: 30px 0;
  display: flex;
  align-items: center;
}

.project__description-text {
  margin: 0 0 0 30px;
  flex: 0 0 720px;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

@media all and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  .project__description-text {
    flex: 0 0 600px;
  }
}

@media all and (max-width: 1000px) {
  .container {
    max-width: 900px;
  }
  .project__description-text {
    flex: 0 0 500px;
  }
}

@media all and (max-width: 768px) {
  .container {
    max-width: none;
  }
  .project__description-img {
    display: none;
  }
  .project__description {
    justify-content: center;
  }
  .project__description-text {
    flex: 0 1 auto;
  }
}

@media all and (max-width: 650px) {
  .title h1 {
    font-size: 48px;
  }
}

@media all and (max-width: 450px) {
  .title h1 {
    font-size: 36px;
  }
}
