body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.title {
  padding: 20px;
  text-align: center;
  color: #0000ff;
  background-color: #aed9e7;
  font-size: 24px;
  text-transform: uppercase;
}

.content__left {
  padding: 0 10px;
  vertical-align: top;
  min-width: 160px;
  background-color: #f0e78d;
}

.content__left a {
  color: blue;
}

.content__left ul {
  margin: 0;
  padding: 0 20px;
}

.content__right {
  background-image: url(../img/ball.png);
  background-size: 100px;
  background-position: top right;
  background-repeat: repeat-y;
  padding: 0 20px;
}

.content__right h2 {
  text-align: center;
  text-transform: uppercase;
}

.content__right img {
  margin: 0 15px 15px 0;
  float: left;
}
