body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 100%;
}

label, input {
  margin: 5px 0;
}

.container {
  padding: 0 20px;
}

.name__label {
  float: left;
}

.name__input {
  display: block;
  width: 100%;
}

.heading__label {
  margin-right: 105px;
}

.publication__label {
  margin-right: 80px;
}

.text_area {
  width: 100%;
}

.text_area__textarea {
  width: 100%;
}

.clear {
  clear: both;
}

.name__container {
  margin-left: 170px;
}

@media (max-width: 500px) {
  .name__label {
    float: none;
  }
  .name__input {
    width: 100%;
    margin-left: 0;
  }
  .heading__label {
    display: block;
    margin-right: 0px;
  }
  .heading__select {
    width: 170px;
  }
  .publication__label {
    display: block;
    margin-right: 0;
  }
  .publication span {
    display: block;
  }
  .name__container {
    margin-left: 0;
  }
  .text_area {
    width: 100%;
  }
  .text_area__textarea {
    width: 100%;
  }
}
