body, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
}

.content__left {
  position: absolute;
  float: left;
  width: 20%;
  height: 100%;
  background: url(../img/ball3.png) no-repeat top left, url(../img/ball3.png) no-repeat top right, url(../img/ball3.png) no-repeat bottom left, url(../img/ball3.png) no-repeat bottom right;
  background-color: aqua;
}

.content__left p {
  padding: 10px 20px;
}

.content__center {
  margin: 0 200px 0 20%;
  background: url(../img/ball3.png) no-repeat top left, url(../img/ball3.png) no-repeat top right, url(../img/ball3.png) no-repeat bottom left, url(../img/ball3.png) no-repeat bottom right;
  background-color: red;
}

.content__center p {
  padding: 10px 20px;
}

.content__right {
  position: absolute;
  right: 0;
  float: right;
  width: 200px;
  height: 100%;
  background: url(../img/ball3.png) no-repeat top left, url(../img/ball3.png) no-repeat top right, url(../img/ball3.png) no-repeat bottom left, url(../img/ball3.png) no-repeat bottom right;
  background-color: purple;
}

.content__right p {
  padding: 10px 20px;
}
