body, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  background: url(../img/ball3.png) no-repeat bottom left, url(../img/ball3.png) no-repeat bottom left 13.5%, url(../img/ball3.png) no-repeat top left 13.5%, url(../img/ball3.png) no-repeat bottom right 100px, url(../img/ball3.png) no-repeat bottom right, linear-gradient(to right, aqua 50%, blue 50%);
}

.content__left {
  float: left;
  width: 20%;
  height: 100%;
  background: url(../img/ball3.png) no-repeat top left;
}

.content__left p {
  padding: 10px 20px;
}

.content__center {
  margin: 0 200px 0 20%;
  background: url(../img/ball3.png) no-repeat top left, url(../img/ball3.png) no-repeat top right, url(../img/ball3.png) no-repeat bottom left, url(../img/ball3.png) no-repeat bottom right;
  background-color: red;
}

.content__center p {
  padding: 10px 20px;
}

.content__right {
  float: right;
  width: 200px;
  height: 100%;
  background: url(../img/ball3.png) no-repeat top left, url(../img/ball3.png) no-repeat top right;
}

.content__right u
p {
  padding: 10px 20px;
}
