.name {
    font-weight: bold;
    font-size: 24px;
}
.date {
    color: green;
}
.winner {
    color: red;
}
.text {
    font-style: italic;
    color: blue;
}

.link {
    padding-left: 10px;
    background: url(../img/extref.png) no-repeat left;
}