a {
    transition: 0.3s;
    &:hover {
        color:red;
    }
}

div {
    margin: 0 0 20px 0;
}

.first {    
    margin-left: 10px;
    a:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        width: 2px;
        height: 20px;
        background-color: red;
    }
    a:last-child:after {
        display: none;        
    }
}

.second {

    transition: 0.3s;
    
    ul{
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            margin: 0 0 0 10px;
            padding: 1px 10px 1px 0;
            border-right: 2px solid red;
        }
        li:last-child {
            border:none;
        }
        
    }    
    
}
.third {
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        li {
            margin: 0 0 0 4px;
            padding:1px 12px 1px 10px;
            background: url(../img/line.png) no-repeat right;
            list-style: none;
        }
        li:last-child {
            background: none;
        }
        li:first-child {
            margin: 0 0 0 0;
        }
    }
}

.fourth {

    ul{
        margin: 0;
        padding: 0;        
        li {
            margin: 0 -4px 0 5px;
            padding: 2px 7px 1px 12px;
            display: inline;            
            list-style: none;
            border-left: 2px solid red;
        }
        li:first-child {
            border: none;
        }
        li:first-child {
            margin: 0 0 0 0;
            padding: 2px 2px 1px 10px;
        }
    }

}

.fifth {

    ul{
        margin: 0;
        padding: 0;
        
        li {
            margin: 0 0 0 5px;
            padding: 1px 0 1px 4px;            
            float:left;
            list-style: none;
        }
        li:first-child {
            margin: 0 0 0 0;
            padding: 1px 0 1px 10px;
        }
        
    }
    
    a:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px 0 4px;
        width: 2px;
        height: 20px;
        background-color: red;
    }
    
}

.fifth ul > li:first-child {
    a:before {
    display: none;
    }
}