body {
    margin: 0;
    padding: 0;
}

a {
    transition: 0.3s;
    &:hover {
        color:red;
    }
}

div {
    margin: 0 0 20px 0;
}

.first {    
    margin-left: 10px;
    a:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        width: 2px;
        height: 20px;
        background-color: red;
    }
    a:last-child:after {
        display: none;        
    }
}

.second {

    ul{
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            margin: 0 0 0 10px;
            padding: 1px 10px 1px 0;
            border-right: 2px solid red;
        }
        li:last-child {
            border:none;
        }
        
    }    
    
}
.third {
    display:flex;
    div {
        margin:  0 0 0 7px;
        padding: 1px 9px 1px 10px;
        background: url(../img/line.png) no-repeat right;
    }
    div:last-child {
        background: none;
    }
    div:first-child {
        margin:  0 0 0 0px;
        padding: 1px 11px 1px 10px;
    }
    
}
 
.fourth {

    table,tr,td{
        margin: 0;
        padding: 0;
    }
    
    a {
        display: inline-block;
        margin: 0 0 0 0px;
    }
    td {
        padding: 0px 0 0 10px;
    }
    td:first-child {
        padding: 0px 0 0 8px;
    }
    
    span {
        display: inline-block;
        width: 2px;
        height: 20px;
        background-color: red;
        vertical-align: middle;
        margin-left: 10px;
    }
    table tr td:last-child span {
        display: none;
    }

}

.fifth {
    display: table;
    
    span {
        display: table-cell;
    }
    a {
        display: block;
        margin: 0 0 0 10px;
        
    }
    a:first-child {
       
    }
    hr {
        display: inline-block;
        width:2px;
        height: 20px;
        background-color:red;
        margin: 0 0 0 12px;
        border:none;
        vertical-align: middle;
    }
}

