@import url(../fonts/stylesheet.css);

@import url(header__footer.css);

@import url(reset_styles.css);





a {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    cursor: pointer;
    line-height: 12px;
    letter-spacing: 20%;
    
}


.project {
    display: flex;
    justify-content: space-between;   
    align-items: center;
    
		&__name { 
            min-width: 0;
            flex: 0 0 400px;
            h1 {
                text-transform: uppercase;
                font-size: 64px;
                font-weight: 300; 
                color: #BDBDBD;   
                span {
                    font-weight: bold;
                    color: #333;
                }            
            }
            .slick-track {
                display: flex;
            }
            .slick-list {
                 overflow: hidden;        
            }            
		}

		&__slider {
            position: relative;
            min-width: 0;
		}

		&__button {
            a {
                text-transform: uppercase;
                background: #fff;
                border: none;
                transition: 0.3s;
                &:hover {
                    box-shadow: -1px -1px 5px;
                    transition: 0.5s;
                 }
                display: inline-block;                
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1000;
                padding: 30px 50px;
                &::after {
                    content: url(../img/button_arrow.svg);
                    margin: 0 0 0 12px;
                }            
            
            }
        }
}
.slider {

		&__list {
            
            .slick-track {
                display: flex;     
            }
            .slick-list {
                 overflow: hidden;        
            }
            
		}
        

        &__number {
            margin: 70px 0 0 0;
            display: flex;
            justify-content: space-between;
            max-width: 120px;
            align-items: center;
            transition: 0.5s;
            color: #9e8b8b;
            font-size: 24px;
            
        }
    
        &__slide-current {
            flex: 0 0 30px;
        }
        
        &__slide-sl {
            
            display: block;
            content: none;
            width: 40px;
            height: 2px;
            background-color: #BDBDBD;
            transform: rotate(-45deg);
        }
    
    
        
    
    

}

.slick-arrow {
    font-size: 0;
    width: 53px;
    height: 53px;
    border: none;
    cursor: pointer;

    &.slick-prev{        
        background-image: url(../img/arrow_l.svg);
        margin: 90px 23px 0 0;

        &:hover {
            box-shadow: -1px -1px 5px;
            transition: 0.5s;
        }
        
                    
    }
    &.slick-next{        
        background-image: url(../img/arrow_r.svg);
        margin: 90px 0 0 0;
        &:hover {
            box-shadow: -1px -1px 5px;
            transition: 0.5s;
        }
            
    }
}


.about {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;    
    background-color: #FBFBFB;
    &__column {
        display: flex;
    }
    &__column-one {
        
        .column-one_img_2 {
            margin: 0;
            margin-top: 20px;
            position: absolute;            
            top: 100%;
            left: 0;   
        }
        & img:hover {            
            transition: 0.5s;
            transform: scale(1.1);
        }
        
        
        &_img {  
            position: relative;  
            vertical-align: bottom;  
            margin: 30px 30px 0 100px;
            img {
                display: block; 
            }      
            
        }
    }

    &__column-two {
        & img:hover {                        
            transition: 0.5s;
            transform: scale(1.1);
        }
       
        
        &_img { 
            margin: 60px 30px 30px 0px; 
            img {
                display: block;
            }
                        
        }
    }

    

    &__title {
        h2 {
            font-size: 64px;
            font-style: 300;
            font-weight: inherit;
            color: #BDBDBD;
            margin: 30px 0 20px 0;
            line-height: 64px;
        }
    }

    &__paragrapf {
        position: relative;
        max-width: 400px;        
        margin-right: 70px;        
        color: #000000;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        line-height: 25px;
        p {
            padding-left: 20px;
        }

    }

    &__button {
        position: absolute;
        left: 0;
        top: 100%;
        margin: 30px 0 0 0;
        a {       
            display: inline-block; 
            cursor: pointer;                               
            padding: 24px 65px;
            border: none;
            background-color: #fff;
            &:hover {
                box-shadow: -1px -1px 5px;
                transition: 0.5s;
             }
                            
            &:after {
                content: url(../img/button_arrow.svg);
                margin-left: 12px;
            }                
        }
    }
    
}


.main_goals {
    
		&__title {
            margin: 150px 0 60px 0;
            h2 {
                color: #BDBDBD;
                font-size: 64px;
                font-weight: 300;
            }
		}

		&__block {
            display: flex;
            justify-content: space-between;
            
		}

		&__block-left {   
            display: flex;
            align-items: center;
            p {
                max-width: 280px;
            }
		}

		&__number {
            display: inline-block;
            font-family: 'San Francisco Pro Display Black';            
            font-size: 200px; 
            color: #F2F2F2;          
		}

		&__text {
            font-size: 22px;
            color: #333;
            line-height: 36px;
            margin: 0 0 0 30px;
		}

		&__block-right { 
            display: flex;
            align-items: center;
            flex-basis: 50%;          
		}
}

.ourProjects {
    position: relative;
    margin-top: 120px;

        &__title {   
            margin-bottom: 60px;         
            h2 {
                font-size: 64px;
                font-style: 300;
                font-weight: inherit;
                color: #BDBDBD;               
            }
                        
        }

		

		&__content-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
		}

		&__content-list {
            position: relative; 
            
            &:hover .ourProjects__content-title {
                opacity: 1;
                transition: 0.5s;
            }
            &:hover .ourProjects__content-item_img {
                opacity: 0.5;
                transition: 0.5s;
            }
		}

        &__content-item {    
            background-color: #000000;                
            
			&_img {
                display: block;
		}
    }
		&__content-title {  
            opacity: 0;          
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);  
                                    

            h3 {
                font-size: 64px;
                font-style: inherit;
                font-weight: bold;                
                color: #fff; 
                line-height: 64px; 
                text-transform: uppercase; 
                margin-bottom: 15px;        
            }

            a {
                color: #fff; 
                text-transform: uppercase;
                font-family: 'Gothic A1', sans-serif;                
                &:after {
                    content: '\2192'; 
                    margin-left: 10px;                                                                     
                }
                &:hover {
                    border-bottom:1px solid #fff ;
                    transition: 0.5s;                                                                     
                }
                
            }            
		}
		&__content-bottom {
            display: flex;
            justify-content: space-between;           
       	}
		&__button {
            margin-top: 30px;            
            position: absolute;
            right: 15px;
            top: 100%;
            a {     
                display: inline-block; 
                cursor: pointer;                                 
                padding: 24px 65px;
                border: none;
                color: #fff;
                background-color: #333333;                              
                &:after {
                    content: url(../img/button_arrow-white.svg);                    
                    margin-left: 12px;
                } 
                
                &:hover {                    
                    box-shadow: -2px -2px 10px #333;
                    transition: 0.5s;                                        
                }
            }
		}
}

.contact {
    margin-top: 220px;
    position: relative;
    
    

		&__title {
            h2 {
                margin-bottom: 22px;
                font-size: 64px;
                font-style: 300;
                font-weight: inherit;
                color: #BDBDBD;
            }
                           
            }
		

		&__content {
            display: flex;
            justify-content: space-between;
            
                            
		}
		

		&__form {
            max-width: 390px;            
            margin-right: 30px;
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style-type: none;
                    margin: 0 0 10px 0;
                    padding: 0;
                }
            }
            
		}

		&__form-text {
            max-width: 368px;
            width: 100%;
            height: 43px;
            padding-left:20px;  
            font-size: 14px; 
            background-color: #f3f3f3;
            border: none;         
		}

		

		&__form-paragrapf {
            padding-left: 10px;
            font-size: 14px;  
            color: #333333;
            line-height: 100%;            
            
		}

		&__form-button {       
            margin-top: 20px;     
            padding: 24px 65px;
            border: none;
            color: #fff;
            background-color: #333333; 
            cursor: pointer;
            text-transform: uppercase;
            &:hover {
                box-shadow: -2px -2px 10px #333;
                transition: 0.5s;
            }                             
            &:after {                
                content: url(../img/button_arrow-white.svg); 
                width: 24px;
                height: 24px;                   
                margin-left: 12px;
                }                
		}
        

        &__agreement {
            display: flex;
            align-items: center;
            input {
                width: 25px;
                height: 25px;
                cursor: pointer;
                
            }
        }
    
}
    
		

		

.form-message {    
    max-width: 370px;
    width: 100%;
    min-height: 133px;
    padding: 15px 0 0 20px;
}





@media all and (max-width:1200px) {
    .container {
        max-width:1000px;
    }  
    img {
        width: 100%;
        height: auto;
    }
    .about {
        padding-bottom: 60px;
        &__column-one_img {
            margin: 30px 30px 0 50px;
        }
    }
    .ourProjects__content-top { 
        div {
            max-width: 97%;
        }       
        h3 {
            font-size: 48px;
        }
    }
    .ourProjects__content-bottom {
        div {
            max-width: 95%;
        }
        h3 {
            font-size: 48px;
        }
    }
    .ourProjects__button {
        right: 30px;
    }
    
}
@media all and (max-width: 1000px) {
    .container {
        max-width: 900px;
    }    
    .project__name {
        flex: 0 0 350px;
    }
    .about__column-one_img {
        margin: 30px 30px 0 10px;
    }
    .ourProjects__content-top { 
               
        h3 {
            font-size: 42px;
        }
    }
    .ourProjects__content-bottom { 
               
        h3 {
            font-size: 42px;
        }
    }
}
@media all and (max-width: 850px) {
    .about {
        flex-direction: column;
        padding-bottom: 100px;
        &__column {
            justify-content: space-around;
            &-tree {
                text-align: center;
                
            }
        }
        &__paragrapf {
            max-width: none;
            margin-right: 0;
            p {
                padding: 0;
            }
        }
    }
    .ourProjects__content-top { 
               
        h3 {
            font-size: 36px;
        }
    }
    .ourProjects__content-bottom { 
               
        h3 {
            font-size: 36px;
        }
    }
    .contact {
        &__content {
            flex-direction: row;
            justify-content: center;
            form {
                margin: 0;
            }
        }
        &__images {
            display: none;
        }
    }
    
}
@media all and (max-width: 768px) {
    .container {
        max-width: none;
    }
    .project {
        display: block;        
    }
    .slider__nav-button {
        display: none;
    }
    .slider__number {
        margin: 20px 0;
    }
    .main_goals__block {
        flex-direction: column;
    }
    .main_goals__number {
        flex: 0 0 100px;
        font-size: 160px;
    }
    .main_goals__title {
        text-align: center;
        margin: 50px 0;
    }
    .about {
        margin: 40px 0 0 0;
        &__column-tree {
            margin: 40px 0 0 0 ;
        }
    }
    .ourProjects__content-top { 
        flex-direction: column; 
        margin: 0;
        div {
            max-width: 100%;
            margin: 0 0 30px 0;
        }   
        h3 {
            font-size: 80px;
            line-height: 80px;
        }       
        
    }
    .ourProjects__content-bottom { 
        flex-direction: column;     
        div {
            max-width: 100%;
            margin: 0 0 30px 0;
        }
        h3 {
            font-size: 80px;
            line-height: 80px;
        }
    }
    
    .ourProjects__content-title {
        
        opacity: 1;
        a {
            font-size: 32px;
        }
        
    }
    .ourProjects__content-item_img {
        opacity: 0.5;
    }
    .ourProjects__button {
        margin: 0;
        right: 15px;
    }
    .ourProjects__title {
        text-align: center;
    }
    .contact {
        margin-top: 120px;
        &__title {
            text-align: center;
            
        }

    }
    
}
@media all and (max-width: 650px) { 
    .main_goals__text {
        line-height: 30px;
    }
    .ourProjects__content-top { 
           
        h3 {
            font-size: 48px;
            line-height: 48px;
        }       
        
    }
    .ourProjects__content-bottom { 
        
        h3 {
            font-size: 48px;
            line-height: 48px;
        }
    }
    .ourProjects__content-title {
        
        a {
            font-size: 24px;
        }
        
    }
}

@media all and (max-width: 450px) { 

    .project {
        &__name {
            h1 {
                font-size: 50px;
            }
        }
        &__button {
            button {
                padding: 20px 30px;
            }        
        }
    }

    .main_goals {
        &__text {
            font-size: 16px;
            line-height: 20px;
        }
        &__title {
        h2 {
            font-size: 48px;
        }
        }
        &__number {
            flex: 0 0 65px;
            font-size: 100px;
        }
    }
    
    .about__title {
        margin-top: 40px;
        h2 {
            font-size: 48px;
        }
        
    }

    .ourProjects {
        margin-top: 40px;

        &__content-top {            
            h3 {
                font-size: 32px;
                line-height: 32px;
            }    
        }
        &__content-bottom {             
            h3 {
                font-size: 32px;
                line-height: 32px;
            }
        }
        &__content-title {            
            a {
                font-size: 18px;
            }        
        }
        &__title {
            h2 {
                text-align: center;
                font-size: 48px;
                line-height: 48px;
            }        
        }
    }
    
    .form-message {
        max-width: 370px;
    }
    .contact__title {
        h2 {
            font-size: 48px;
            line-height: 48px; 
        }
    }
    
}


                