.green {
    background: #91ef91;
    max-width: 40px;
    height: 15px;
    
}

.one {
    td:nth-child(even) {
        background: #000;
        width: 40px;
        height: 40px;
    }
    td:first-child {
        background: #91ef91;
        width: 15px;
        height: 40px; 
    }
    td:last-child {
        background: #91ef91;
        width: 15px;
        height: 40px; 
    }
}
.two{
    td:nth-child(odd) {
        background: #000;
        width: 40px;
        height: 40px;
    }
    td:first-child {
        background: #91ef91;
        width: 15px;
        height: 40px; 
    }
    td:last-child {
        background: #91ef91;
        width: 15px;
        height: 40px; 
    }
    
}

table {
    border-collapse: collapse;
    td {
        border:1px solid gray;  
    }
}