body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green {
  background: #91ef91;
  max-width: 39px;
  height: 15px;
}

.one td:nth-child(even) {
  background: #000;
  width: 39px;
  height: 39px;
}

.one td:first-child {
  background: #91ef91;
  width: 14px;
  height: 39px;
}

.one td:last-child {
  background: #91ef91;
  width: 14px;
  height: 39px;
}

.two td:nth-child(odd) {
  background: #000;
  width: 39px;
  height: 39px;
}

.two td:first-child {
  background: #91ef91;
  width: 14px;
  height: 39px;
}

.two td:last-child {
  background: #91ef91;
  width: 14px;
  height: 39px;
}

table {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

table tr {
  margin: 0;
  padding: 0;
}

table td {
  margin: 0;
  padding: 0;
}

table td {
  border: 1px solid gray;
}
